/*revert font*/
@import url(https://cdn.statically.io/gh/Overimagine1/old-discord-font/main/source.min.css);

/*top bar buttons*/
div[aria-label="Help"],
div[aria-label="Threads"],
div[aria-label="Notification Settings"][role="button"]{
    display: none;
}

/*text box input buttons*/
button[aria-label="Send a gift"],
button[aria-label="Open GIF picker"],
button[aria-label="Open sticker picker"]{
    display: none;
}

/*settings buttons under Payment Settings*/
div[aria-label="Connections"] + div + div[class*="separator"],
div[class*="header"]:has(+div[aria-label="Nitro"]),
div[aria-label="Nitro"],
div[aria-label="Nitro"] + div[class*="item"],
div[aria-label="Subscriptions"],
div[aria-label="Gift Inventory"],
div[aria-label="Gift Inventory"] + div[class*="item"]{
    display: none;
}

/*server boost badges*/
div[aria-label="No Level"],
div[aria-label="Level 1"],
div[aria-label="Level 2"],
div[aria-label="Level 3"]{
    display: none;
}

/*server boost bar*/
/*(keeping outdated check below in case it changes again)*/
/*div[aria-label="Buy Boosts to help unlock Level 1 perks!"],
div[aria-label="Buy Boosts to help unlock Level 2 perks!"],
div[aria-label="Buy Boosts to help unlock Level 3 perks!"],
div[aria-label="This server has unlocked all Boosting perks!"]*/
div[data-list-item-id*="channels___boosts"]{
    display: none;
}

/*server menu "Server Boost" option*/
#guild-header-popout-premium-subscribe,
div:has(#guild-header-popout-premium-subscribe) + div[class*="separator"]{
    display: none;
}

/*tabs in direct messages*/
a[data-list-item-id*="__library"],
a[data-list-item-id*="__nitro"],
a[data-list-item-id*="__shop"]{
    display: none;
}

/*server profile settings Nitro upsell*/
div[class*="upsellContainer"],
div[class*="upsellOverlay"]{
    display: none;
}
div[class*="customizationSection"]:has(+div[class*="upsellOverlay"]){
    border-bottom: 0px;
}

/*user profile settings Nitro try out*/
div[class*="customizationSection"]:has(div[class*="premiumFeatureBorder"]),
div[class*="premiumFeatureBorder"],
div[class*="premiumFeatureBanner"],
div[class*="selectionGroup"]:has(div>div>div>div>div>div[aria-label="Exclusive to Nitro"]),
/*"Give your profile a fresh look" with button to go to shop*/
div[id="profile-customization-tab"] div[class*="container"]:has(div[class*="artContainer"]){
    display: none;
}

/*avatar decoration*/
img[class*="avatarDecoration"], /*in the chat*/
svg[class*="avatarDecoration"]{ /*in the profile*/
    display:none;
}
/*user popout banner*/
/*The rule below might be deprecated, now being part of the same banner class as the free solid colors one,
so it's being replaced by the more specific rule below that. Keeping it commented just in case this was mistaken*/
/*div[class*="bannerPremium"]{
    display:none;
}*/
div[class*="banner"][style*=".gif"], div[class*="banner"][style*=".png"], div[class*="banner"][style*=".jpg"]{
    display:none;
}
/*user popout popup upsell about banner*/
div:has(div[class*="banner"]):has(+ svg > foreignObject > div[class*="bannerPremium"]){
    display:none;
}
/*user popout animation overlay*/
div[class*="profileEffects"]{
    display: none;
}

/*super reactions animations*/
.emoji{ /*make sure original emote doesn't disappear as animated version is supposed to replace it*/
    opacity:100;
}
div[class*="effectsWrapper"], /*hide big animation*/
div[class*="burstGlow"]{ /*hide glow around reaction*/
    display:none;
}
div[class*="reaction"]{ /*stop reaction from shaking*/
    animation:none !important;
}
/*reactions tabs (hiding the super reactions tab*/
/*and not leaving reactions on its own)*/
div[aria-label="Reaction Picker Categories"]{
    display:none;
}
/*remove remaining blank space without messing with*/
/*the regular non-reaction emoji picker*/
nav:has(div[aria-label="Reaction Picker Categories"]) + #emoji-picker-tab-panel{
    margin-top:-30px;
}
/*super reaction option when right-clicking message*/
div[id*="message-add-reaction"][class*="colorPremiumGradient"],
/*and when clicking on the 3-dot menu*/
div[id*="message-actions-add-reaction"][class*="colorPremiumGradient"],
/*and when hovering message*/
div[aria-label="Add Super Reaction"]{
    display:none;
}
/*upsell in tooltip when hovering super reaction*/
div[class*="burstReactionTooltipPrompt"]:has(button[class*="burstReactionTooltipUpsell"]){
    display:none;
}
/*remove space left by upsell, might hit more than expected, had to remove a :has for some reason*/
div[class*="burstReactionTooltipSpacer"]:has(+div[class*="burstReactionTooltipPrompt"]){
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

/*remove disabled emojis in emoji picker (animated, different server)*/
/* disabled because empty rows look bad*/
/*li:has(button[class*="emojiItemDisabled"]){
    display:none;
}*/
/*remove rows that only have disabled emojis (attempt to fix issue above)*/
/* disabled because list looks too broken, loading too few servers at a time*/
/*ul[class*="emojiListRow"]:not(:has(button:not([class*="emojiItemDisabled"])))*/
/*remove nitro message when clicking a disabled emote*/
div[class*="premiumPromoDescription"],
button:has(div[class*="premiumSubscribeButton"]){
    display:none;
}

/*thread suggestion bar that appears once you reply back and forth enough times*/
div[class*="threadSuggestionBar"]{
    display:none;
}

/*adds the original link in red after hyperlinks*/
/* but only activates if the text of the link starts with https:// so that*/
/* it doesn't activate on all non-markdown links*/
a[title*="("]:not([title^="https://"])::after{
    color:red;
    content: " (" attr(href) ") ";
}

/**
* @name hidePinDiscovery
* @author krystalskullofficial
* @version 1.0
* @description Hides the new pinned Discovery Icon
*/
[class*=unreadMentionsFixedFooter_]{bottom: 0px !important;}
[class^=footer_]
{display: none; }
